<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<ul th:fragment="userNavBar" class="userNavBar">
    <li ><a href="/"><img th:src="${'/uploads/appdog.jpg'}" class="logo"/></a></li>
    <li><a th:href="@{/user/userProfile}" class="ahrefMenu"><i class="fa fa-user"></i> My profile</a></li>
    <li><a th:href="@{/home/addPosting}"  class="ahrefMenu"><i class="fa fa-plus"></i> Add posting</a></li>
    <li style="float:right"><a class="active" href="/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
</ul>

<ul th:fragment="adminNavBar" class="userNavBar">
    <li ><a href="/"><img th:src="${'/uploads/appdog.jpg'}" class="logo"/></a></li>
    <li style="float:right"><a class="active" href="/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
</ul>
</body>
</html>