<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Biblioteka</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body class = "table table-striped table-responsive-md">
<center>
    <ul th:replace="a :: userNavBar"></ul>
    <div class="container">
        <div class="tytul">
        <h1>Change password</h1>
            <br/>
            <br/>

        <form action="#" th:action="@{/user/saveUserPassword}" th:object="${user}"
              method="POST">
            <input type="hidden" th:field="*{userId}" />
            <input type="hidden" th:field="*{username}" />

            <input type="text" th:name="oldpassword"
                   placeholder="Old password" class="form-control mb-4 col-4">

            <input type="text" th:name="newpassword"
                   placeholder="New password" class="form-control mb-4 col-4">

            <input type="hidden" th:field="*{password}" />

            <br/>

            <input type="submit" class="btn btn-info col-2" onclick="location.href='/user/search'"> </input>
        </form>

        <hr>

        <a th:href = "@{/}"> Back to postings</a>
            <br/><br/>
        </div>
    </div>
</center>
</body>
</html>